In [6]:
#Import libraries
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import statistics as stats

In [4]:
#Load dataset
df=sns.load_dataset("titanic")

In [5]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [7]:
#Mean of entire dataset columns
df.mean(axis=1)

C:\Users\Muhammad Afaq\AppData\Local\Temp\ipykernel_11516\3676274908.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean(axis=1)

0       4.281250
1      14.035412
2       4.865625
3      11.387500
4       6.006250
         ...
886     5.500000
887     6.500000
888     4.207143
889     7.500000
890     5.593750
Length: 891, dtype: float64

In [8]:
#Mean of entire dataset rows
df.mean(axis=0)

C:\Users\Muhammad Afaq\AppData\Local\Temp\ipykernel_11516\1937374207.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean(axis=0)

survived       0.383838
pclass         2.308642
age           29.699118
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

In [9]:
#Median of entire dataset columns
df.median(axis=1)

C:\Users\Muhammad Afaq\AppData\Local\Temp\ipykernel_11516\35696959.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median(axis=1)

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
886    1.0
887    1.0
888    1.0
889    1.0
890    1.0
Length: 891, dtype: float64

In [10]:
#Median of entire dataset rows
df.median(axis=0)

C:\Users\Muhammad Afaq\AppData\Local\Temp\ipykernel_11516\4227709204.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median(axis=0)

survived       0.0000
pclass         3.0000
age           28.0000
sibsp          0.0000
parch          0.0000
fare          14.4542
adult_male     1.0000
alone          1.0000
dtype: float64

In [12]:
#STD of entire dataset columns
df.std(axis=1)

C:\Users\Muhammad Afaq\AppData\Local\Temp\ipykernel_11516\2108637489.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std(axis=1)

0       7.568069
1      26.598513
2       8.947555
3      20.737160
4      12.024987
         ...
886     9.724784
887    11.501553
888     8.563509
889    12.705454
890    10.985329
Length: 891, dtype: float64

In [13]:
#STD of entire dataset rows
df.std(axis=0)

C:\Users\Muhammad Afaq\AppData\Local\Temp\ipykernel_11516\2309337113.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std(axis=0)

survived       0.486592
pclass         0.836071
age           14.526497
sibsp          1.102743
parch          0.806057
fare          49.693429
adult_male     0.489615
alone          0.489615
dtype: float64

In [14]:
#S.E of entire dataset columns
df.sem(axis=1)

C:\Users\Muhammad Afaq\AppData\Local\Temp\ipykernel_11516\3972330827.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sem(axis=1)

0      2.675716
1      9.403995
2      3.163438
3      7.331693
4      4.251475
         ...
886    3.438230
887    4.066413
888    3.236702
889    4.492056
890    3.883900
Length: 891, dtype: float64

In [15]:
#S.E of entire dataset rows
df.sem(axis=0)

C:\Users\Muhammad Afaq\AppData\Local\Temp\ipykernel_11516\3643551444.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sem(axis=0)

survived      0.016301
pclass        0.028009
age           0.543640
sibsp         0.036943
parch         0.027004
fare          1.664792
adult_male    0.016403
alone         0.016403
dtype: float64

In [23]:
#Mode
print("Mode of given data set is % s" % (stats.mode("titanic")))

Mode of given data set is t

In [25]:
#Mean of specified column
df2 = df["pclass"].mean()
df2

2.308641975308642

In [27]:
#Mean of entire columns
df2 = df.mean()
df2

C:\Users\Muhammad Afaq\AppData\Local\Temp\ipykernel_11516\99167482.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2 = df.mean()

survived       0.383838
pclass         2.308642
age           29.699118
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

In [29]:
# Using multiple columns mean using DataFrame.mean()
df3 = df[["age","survived"]].mean()
df3

age         29.699118
survived     0.383838
dtype: float64

In [30]:
# Find the mean including NaN values using DataFrame.mean()
df4 = df.mean(axis=0, skipna=False)
df4

C:\Users\Muhammad Afaq\AppData\Local\Temp\ipykernel_11516\177216332.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df4 = df.mean(axis=0, skipna=False)

survived       0.383838
pclass         2.308642
age                 NaN
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

In [36]:
# Using DataFrame.describe() method
df = df.describe()
df

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200